div.table
    div.table__title=data.title
    div.table__content
        table.table__table-elem(class=data.classTable)
            each user in data.users
                tr.table__tr-elem
                    td.table__td-elem=user.name
                    td.table__td-elem=user.position

    div.table__back
        butto.table__button(id=data.idButton)='BACK'

