div.logo.logo_text=data.title
//div.logo.table_form
div.logo
    table(class=data.classTable)
        each user in data.users
            tr
                td=user.name
                td=user.position

div.logo.logo_button
    butto.button(id=data.idButton)='BACK'

