mixin formConstruct(form)
    div.logo.input_form
    h1(align="middle")= form.title
    each field in form.fields
        input.input(
        id=field.id
        placeholder=field.placeholder
        type=field.type,
        required=field.required
        )
    div.logo.logo_button(align="middle")
        each button in form.buttons
            button.button.button_start(
            type=button.type
            id=button.id
            )= button.text